{% load static %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wordcount About</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Jua|Nanum+Myeongjo|Nanum+Pen+Script" rel="stylesheet">
</head>


<body>
    <div class='introduction'>
        <h1 id='title'>ABOUT</h1>
        

    </div>  
    <br>
    <br>
    <br>

    <p id='para'>안녕하세요, 이곳은 멋사 워드카운트 웹페이지 입니다. 여기서 글자를 세세요</p>
    <br>
    <br>
    <a href="{%url 'home'%}" id="mybutton">Go to home</a>
    
</body>